.data {
  background-color: #4b2a6dfa;
  color: white;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  width: 90%;
  margin:auto;
}
h2 {
  font-size: 2.3rem;
  color:#e2467f;
  margin: 3px;
  margin-top: 15px;
}
p {
  margin: 3px;
}
.material-icons-outlined {
  vertical-align: top;
  padding-right: 3px;
}